<div class="col-sm" id="manager">
    <div class="card mb-3 shadow" style="width: 15rem;">
        <div class="card-header bg-primary text-white">
            <h3>Name</h3>
            <h4><i class="fas fa-mug-hot"></i> Manager</h4>
        </div>
        <div class="card-body bg-light">
            <table class="table table-bordered bg-white">
                <tr>
                    <td scope="col">ID:</td>
                </tr>
                <tr>
                    <td scope="col">Email:</td>
                </tr>
                <tr>
                    <td scope="col">Office:</td>
                </tr>
            </table>
        </div>
    </div>
</div>